body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(245, 242, 242);
}
p{
    color: rgb(61, 61, 61);
}

/* добавлен новый класс */
.hide {
    display: none;
}